{% extends "base.html" %}

{% block content %}
<div class="contact-container">
    <div class="contact-info">
        <h1>Contact Me</h1>
        <p>Feel free to reach out for collaborations, questions, story ideas, or insights.</p>
    </div>

    <div class="contact-grid">
        <div class="contact-form">
            <h2>Drop me a line</h2>
            <form action="https://formspree.io/f/mlddrypq" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                
                <button type="submit" class="submit-button">Send Message</button>
            </form>
        </div>

        <div class="social-links">
            <h2>Le'ts connect</h2>
            <div class="social-grid">
                <a href="https://www.linkedin.com/in/sandro-gvindadze/" target="_blank" class="social-item">
                    <i class="fab fa-linkedin"></i>
                    LinkedIn
                </a>
                <a href="https://x.com/GlassSeymour" target="_blank" class="social-item">
                    <i class="fab fa-twitter"></i>
                    X
                </a>
                <a href="https://www.facebook.com/seymourglasss/" target="_blank" class="social-item">
                    <i class="fab fa-facebook"></i>
                    Facebook
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}